*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    margin: 10px;
    background-color: #412567;
    width: auto;
    padding: 20px;
    height: auto;
}
.navbar-container{
    display: flex;
    align-items: center;
    padding: 16px 200px 16px 200px;

}
.navbar-tittle{
    display: flex;
    justify-content: space-between;
    width: 1600px;
    height: 40px;
    gap: 20px;
    margin-left: 24px;
}
.nav{
    color: white;
    font-weight: bold;
}
.text-color{
    color: rgba(251,9,180,1);
}

.item{
    display: flex;
    align-items: center;
    width: auto;
    text-align: left;
    height: auto;
    gap: 32px;
}
.item li{
    list-style: none;
    padding: 12px;
    
}
.item li a{
    color: white;
    text-decoration: none;
    
}
.button{
    border-radius: 20px;
    padding: 12px 16px 12px 26px;
    background-color:rgba(251,9,180,1);
    gap: 4px;
    font: bold;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
}

.hero{
    padding: 80px 0;

}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 ;
}
.hero-image{
    position: relative;
    width: 420px;
    height: 420px;
}
.hero-image img{
    position: absolute;
}

.img-bg{
    position: relative;
    width: 200%;
}
.img-cir{

    top: 40px;
    left: 60px;
}